.venv/
.venv-1/
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db
.env
.DS_Store
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE folders
.vscode/

# Distribution / packaging
build/
dist/
.eggs/
*.egg

# Python virtual environments
env/
venv/
ENV/

# macOS
.DS_Store

# Windows
Thumbs.db

# logs
*.log

# installer files
get-pip.py

# Added by ggshield
.cache_ggshield
