{% extends "base.html" %}

{% block title %}Évènements - Collège Jean XXIII{% endblock %}

{% block content %}
<section class="min-vh-100 d-flex align-items-center position-relative text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ url_for('static', filename='images/bg-image.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container py-4">
    <div class="row align-items-center gy-5">
        <h1 class="display-5 fw-bold text-white lh-1 mb-3">
            Évènements à venir
        </h1>
        <div class="">
            <h2>
                Réunion des parents
            </h2>
            <p>
                Date: 15 Octobre 2026
            </p>
            <p>
                Rejoignez-nous pour discuter!!!
            </p>
            <div>
                <a href="#" class="btn btn-primary btn-lg px-4 me-md-2 fw-semibold">
                    Visitez-nous
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}